<div class="row">
  <div class="col-md-2">
    <p><%= link_to('Add Event', new_biography_event_path) %></p>
    <p><%= link_to('View/Search Events', biography_events_path) %></p>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>This month in Giles Clan History:</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @events_this_month.each do |event| %>
              <li><%= event.date_output %> - <%= link_to("#{event.title}", biography_event_path(event.id))%></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <h4>Click on a Tag to see all linked Events</h4>
      <p><em><%= link_to('Click here', biography_events_path) %> to create more complex searches</em></p>
      <div class="col-md-5">
        <h4>Person Tags</h4>
        <ul>
          <% PersonTag.all.each do |person| %>
            <li><%= link_to("#{person.name}", biography_events_path(person_tag_ids: [person.id])) %></li>
          <% end %>
        </ul>
        <p><%= link_to('Add another Person for tagging Events', new_person_tag_path) %></p>
      </div>

      <div class="col-md-5">
        <h4>Type Tags</h4>
        <ul>
          <% TypeTag.all.each do |type| %>
            <li><%= link_to("#{type.name}", biography_events_path(type_tag_ids: [type.id])) %></li>
          <% end %>
        </ul>
        <p><%= link_to('Add another Type for tagging Events', new_type_tag_path) %></p>
      </div>
    </div>
</div>
