<div class="row">
  <div class="col-md-12">
    <h4>Select Filters</h4>
    <p><em>Uncheck all options to see all Events.</em></p>
  </div>
</div>
<div class="row">
  <%= form_tag({ url: biography_events_path}, { method: :get }) do %>
    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :person_tags %><br/>
        <%= collection_check_boxes(:filters, :person_tag_ids, PersonTag.all, :id, :name) %>
      </div>
      <div class="form-group">
        <%= submit_tag 'Search' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :type_tags %><br/>
        <%= collection_check_boxes(:filters, :type_tag_ids, TypeTag.all, :id, :name) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :years %><br/>
        <%= collection_radio_buttons(:filters, :year, BiographyEvent.years, :to_i, :to_s) %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if @tags.any? %>
          <h4>Events tagged with:
          <% @tags.each_with_index do |tag, i| %>
            <%= "[#{tag}]" %>
            <%= "&" unless i+1 == @tags.count %>
          <% end %>
          </h4>
        <% else %>
          <h4>All Events</h4>
        <% end %>
      </div>
      <div class="panel-body">
        <% if @biography_events.any? %>
          <ul>
            <% @biography_events.each do |event| %>
              <ul>
                <li><%= event.date_output %> - <%= link_to("#{event.title}", biography_event_path(event.id))%></li>
              </ul>
            <% end %>
          </ul>
        <% else %>
          <p>No Events match your search criteria.</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
