<%= devise_error_messages! %>
<div class="grid-x grid-padding-x">
  <div class="cell medium-4">
  </div>
  <div class="cell medium-4">
    <h4><%= t('.resend_unlock_instructions', :default => "Resend unlock instructions") %></h4>
    <div>
      <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, html: { role: "form" } }) do |f| %>
        <div>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
        <%= f.submit t('.resend_unlock_instructions', :default => "Resend unlock instructions"), class: "button primary"%>
      <% end %>
      <br/>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
  <div class="cell medium-4">
  </div>
</div>
