<%= devise_error_messages! %>
<div class="grid-x grid-padding-x">
  <div class="cell medium-4">
  </div>
  <div class="cell medium-4">
    <h4><%= t('.forgot_your_password', :default => 'Forgot your password?') %></h4>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: "button primary" %>
    <% end %><br/>
    <%= render 'devise/shared/links' %>
  </div>
  <div class="cell medium-4">
  </div>
</div>
