<% if dates %>
  <table class="table table-hover table-condensed">
    <thead>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <% if session[:event_type] == 'calendar' %>
        <th>Type</th>
      <% end %>
      <th>Location</th>
      <th class="set-width">Notes</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <% dates.each do |date| %>
        <tr>
          <td><%= date.date_of_event.strftime("%a %e %b") if date.date_of_event %></td>
          <td><%= date.time_of_event.strftime("%H:%M") if date.time_of_event %></td>
          <td><%= date.name if date.name %></td>
          <% if session[:event_type] == 'calendar' %>
            <td><%= I18n.t("app.calendar.type.#{date.event_type}") unless date.event_type.empty? %></td>
          <% end %>
          <td><%= date.location if date.location %></td>
          <td><%= date.note if date.note %></td>
          <td><%= link_to("Click", edit_calendar_item_path(date)) %></td>
          <td><%= link_to("Click", date, method: :delete, data: { confirm: "Are you sure?" }) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>